{% extends "base.html" %}

{% block title %} Home Page {% endblock title %}

{% block content %}
{% load static %}
<div class="container-fluid p-5 mb-3">

  <div class="row d-flex justify-content-center ">
    {% for x in products %}
      <div class="card m-3 p-3 bg-dark text-light rounded-5 " style="width: 18rem;" title="{{ x.title }}">
        <a href="{% url 'view_product' x.id %}" class="text-decoration-none text-light" >
          <img src="{{x.image.url}}" class="card-img-top border-0 rounded-5 shadow " alt="Default Image" width="70" style="box-shadow: 0px 0px 10px white !important;"> 
          <p></p> 
          <div class="card-body">
            <h5 class="card-title">{{ x.title }}</h5>
            <p class="bg-light text-dark px-3 rounded-2 d-inline">Price: {{ x.retail_price }}$</p>
          </div>
        </a>
      </div>
    {% empty %}
      <p>No products available!</p>
    {% endfor %}
    
  </div>
</div>

<span hidden>
  {% block cartCount %}   {{ cart_count }} {% endblock cartCount %}   

</span>


{% endblock content %}
