{% extends "base.html" %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
  <div class="container-fluid my-4 bg-tertiary p-5">
    <div class="row offset-1 ">
      <div class="col-10">
        <h1 class="bg-dark rounded-2 px-3 text-white py-2"> About - Sydney Bags</h1>
<p class="py-2">   
  Welcome to Sydney Bags, your premier destination for stylish, high-quality bags that blend fashion with functionality. Based in the heart of Sydney, we are committed to offering a wide range of bags designed to meet the diverse needs of our customers, from chic handbags to durable travel bags and everything in between.

At Sydney Bags, we understand that a bag is not just an accessory—it’s an essential part of your everyday life. Whether you're heading to work, embarking on a weekend getaway, or looking for the perfect gift, our carefully curated collection promises to offer something for everyone. Each piece is crafted with attention to detail and designed to complement your unique style, ensuring that you not only carry your belongings but do so with confidence and flair.

Our team is passionate about providing excellent customer service and ensuring that your shopping experience is seamless. We source only the finest materials to create durable, functional, and fashionable bags that you can rely on.

Thank you for choosing Sydney Bags—where quality meets style!
</p>
</div>

</div>
</div>
{% endblock content %}




